<div class="container-fluid mt-3"  *ngIf="componetNavbar.getIsLoggedIn()">
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <div class="row d-flex align-items-center">
          <div class="col-1 d-flex justify-content-end">
            <img [src]="'assets/images/avatars/' + user.avatar" class="avatar" alt="avatar">
          </div>
          <div class="col-11">
            <input type="text" class="input" [placeholder]="'¿Deseas agregar una nueva mascota, ' + userName + '?'" (click)="openPhoto(content)" [value]="pet.name">
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <button type="button" class="btn-photo" (click)="openPhoto(content)">
              <fa-icon class="text-success" [icon]="faFileImage"></fa-icon>
              Foto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="text-modal-title">Crear Mascota</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row d-flex align-items-center">
        <div class="col-12">
          <img [src]="'assets/images/avatars/' + user.avatar" class="avatar" alt="avatar">
          {{ user.name }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Nombre de la Mascota</label>
          <input type="text" class="input" name="name" placeholder="Nombre de Mascota" [(ngModel)]="pet.name">
          <label>Especie</label>
          <select name="species" id="species" class="input mt-2" [(ngModel)]="pet.species">
            <option value="dog">Perro</option>
            <option value="cat">Gato</option>
            <option value="bird">Ave</option>
            <option value="rodent">Roedor</option>
            <option value="snake">Serpiente</option>
            <option value="other">Otro</option>
          </select>
          <label>Situación</label>
          <select name="status" id="status" class="input mt-2" [(ngModel)]="pet.status">
            <option value="rescued">Rescatado</option>
            <option value="at home">En Casa</option>
            <option value="for adoption">En Adopción</option>
            <option value="seen">Visto</option>
            <option value="temporary home">Hogar Temporal</option>
            <option value="lost">Perdido</option>
            <option value="stolen">Robado</option>
          </select>
          <label>Detalles de la Situación</label>
          <input type="text" class="input mt-2" name="statusDetails" placeholder="Detalles de la situación" [(ngModel)]="pet.statusDetails">
          <label>Genero</label>
          <select name="" id="gender" class="input mt-2" [(ngModel)]="pet.gender">
            <option value="male">Macho</option>
            <option value="hembra">Hembra</option>
          </select>
          <label>Codigo del Tatuaje</label>
          <input type="text" class="input mt-2" name="tattooCode" placeholder="Codigo del tatuaje" [(ngModel)]="pet.tattooCode">
          <label>Largo de Pelaje</label>
          <input type="text" class="input mt-2" name="coatLength" placeholder="largo de pelaje" [(ngModel)]="pet.coatLength">
          <label>Color Primario</label>
          <input type="text" class="input mt-2" name="primaryColor" placeholder="Color primario" [(ngModel)]="pet.primaryColor">
          <label>Color Secundario</label>
          <input type="text" class="input mt-2" name="secondaryColor" placeholder="Color secundario" [(ngModel)]="pet.secondaryColor">
          <label>Color tersario</label>
          <input type="text" class="input mt-2" name="tertiaryColor" placeholder="Color tersario" [(ngModel)]="pet.tertiaryColor">
          <label>Edad</label>
          <input type="number" min="1" class="input mt-2" name="age" placeholder="Edad" [(ngModel)]="pet.age">
          <label>Tamaño</label>
          <input type="text" class="input mt-2" name="size" placeholder="Tamaño" [(ngModel)]="pet.size">
          <label>Peso</label>
          <input type="number" min="1" class="input mt-2" name="weight" placeholder="Peso" [(ngModel)]="pet.weight">
          <label for="sterilized">
            <span>Esterilizado</span>
          </label>
          <input type="checkbox" name="sterilized" id="sterilized" [(ngModel)]="pet.sterilized"><br>
          <label>Marca del Microchip</label>
          <input type="text" class="input mt-2" name="microchipMark" placeholder="Marca del MicroChip" [(ngModel)]="pet.microchipMark">
          <label>Id Microchip</label>
          <input type="text" class="input mt-2" name="microchipID" placeholder="Id MicroChip" [(ngModel)]="pet.microchipID">
          <label>Fecha de Implante</label>
          <input type="date" class="input mt-2" name="implantDate" placeholder="Fecha de Implante" onkeydown="return false" [(ngModel)]="date">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 image-col">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>
              <fa-icon [icon]="faImages"></fa-icon>
              <br>Agregar Fotos <br>
              <small>o arrastrar y soltar</small>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn" (click)="createPetPhoto()">Publicar</button>
  </div>
</ng-template>
