@import "src/assets/sass/variables"

.avatar
  display: inline-flex
  width: 50px
  height: 50px
  border-radius: 50%

.av
  display: flex
  justify-content: right !important
  align-items: end

.img-post
  width: 100%
  height: 100%
  object-fit: cover
  cursor: pointer

.input
  padding: 0.5rem 1rem
  width: 100%
  background-color: rgba(0,0,0,0.2)
  border-radius: 25px !important
  border: 0 solid transparent !important

  &:hover
    background-color: rgba(0,0,0,0.4)
    cursor: pointer

  &:focus
    outline: none

hr
  border: 2px


.link-users
  text-decoration: none
  color: #2d3a47

  &:hover
    text-decoration: underline

.link-img-users

  &:hover
    opacity: 0.8

.text-primary
  color: $primary-color !important
