<div class="container-fluid">
  <div class="row" *ngFor="let post of posts">
    <div class="col-12 pt-2">
      <div class="card p-3">
        <div class="row d-flex align-items-center">
          <div class="col-1">
            <a [routerLink]="['/user', post.user.slug]">
              <img [src]="'assets/images/avatars/' + post.user.avatar" class="avatar link-img-users" alt="avatar">
            </a>
          </div>
          <div class="col-11 ps-3">
            <a class="link-users" [routerLink]="['/user', post.user.slug]">{{ post.user.name }} </a> <br>
            <small>{{ post.created | date: 'medium'}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{{ post.message }}</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center" *ngIf="post.images.length > 0">
          <div [class.col-12]="post.images.length == 1"
               [class.col-6]="post.images.length == 2"
               [class.col-4]="post.images.length == 3"
               [class.col-3]="post.images.length >= 4"
               [class.col-2]="post.images.length > 5"
               *ngFor="let image of post.images; let i=index">
            <img [src]="image | image: post.user._id" class="img-post"  alt="image" (click)="showGallery(i, post.images, post.user._id)">
          </div>
        </div>
        <hr>
        <app-shared-options [post]="post"></app-shared-options>
      </div>
    </div>
  </div>
</div>
