<div class="container-fluid">
  <div class="row" *ngFor="let pet of pets">
    <div class="col-12 pt-2">
      <div class="card p-3">
        <div class="row d-flex align-items-center">
          <div class="col-1">
            <a [routerLink]="['/user', pet.user.slug]">
              <img [src]="'assets/images/avatars/' + pet.user.avatar" class="avatar link-img-users" alt="avatar">
            </a>
          </div>
          <div class="col-11 ps-3">
            <a class="link-users" [routerLink]="['/user', pet.user.slug]">{{ pet.user.name }} </a> <br>
            <small>{{ pet.created | date: 'medium'}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{{ pet.name }}
              <strong [ngSwitch]="pet.status">
                <span *ngSwitchCase="'rescued'">Rescatado</span>
                <span *ngSwitchCase="'at home'">En Casa</span>
                <span *ngSwitchCase="'for adoption'">En Adocpción</span>
                <span *ngSwitchCase="'seen'">Visto</span>
                <span *ngSwitchCase="'temporary home'">Hogar Temporal</span>
                <span *ngSwitchCase="'lost'">Perdido</span>
                <span *ngSwitchCase="'stolen'">Robado</span>
              </strong>
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-center" *ngIf="pet.images.length > 0">
          <div [class.col-12]="pet.images.length == 1"
               [class.col-6]="pet.images.length == 2"
               [class.col-4]="pet.images.length == 3"
               [class.col-3]="pet.images.length >= 4"
               [class.col-2]="pet.images.length > 5"
               *ngFor="let image of pet.images; let i=index">
            <img [src]="image | image: pet.user._id" class="img-post"  alt="image" (click)="showGallery(i, pet.images, pet.user._id)">
          </div>
        </div>
        <hr>
        <app-shared-options-pet [pet]="pet"></app-shared-options-pet>
      </div>
    </div>
  </div>
</div>
