<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
          <a routerLink="/sign/registrate" class="signup-image-link">Registrate</a>
        </div>

        <div class="signin-form">
          <p *ngIf="alert.active">
            <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
          </p>
          <h2 class="form-title">Entrar</h2>
          <form (ngSubmit)="submit(form)" #form="ngForm">
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="email" name="email" id="email" placeholder="Correo" ngModel/>
            </div>
            <div class="form-group">
              <label for="password"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password" id="password" placeholder="Contraseña" ngModel/>
            </div>
            <div class="form-group form-button">
              <button type="submit" class="form-submit">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
