<div class="container-fluid"  *ngIf="componetNavbar.getIsLoggedIn()">
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <div class="row d-flex align-items-center">
          <div class="col-1 d-flex justify-content-end">
            <img [src]="'assets/images/avatars/' + user.avatar" class="avatar" alt="avatar">
          </div>
          <div class="col-11">
            <input type="text" class="input" [placeholder]="'¿Qué estás pensando, ' + userName + '?'" (click)="openPhoto(content)" [value]="message">
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <button type="button" class="btn-photo" (click)="openPhoto(content)">
              <fa-icon class="text-success" [icon]="faFileImage"></fa-icon>
              Foto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="text-modal-title">Crear Publicación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row d-flex align-items-center">
          <div class="col-12">
            <img [src]="'assets/images/avatars/' + user.avatar" class="avatar" alt="avatar">
            {{ user.name }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <textarea rows="1" name="message"
                      [placeholder]="'¿Qué estás pensando, ' + userName + '?'"
                      (keydown)="autoSize(textarea)"
                      [(ngModel)]="message"
                      #textarea required>
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12 image-col">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>
                <fa-icon [icon]="faImages"></fa-icon>
                <br>Agregar Fotos <br>
                <small>o arrastrar y soltar</small>
                </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn" (click)="createPostPhoto()">Publicar</button>
    </div>
</ng-template>
