@import "src/assets/sass/variables"

.avatar
  display: inline-flex
  width: 35px
  height: 35px
  border-radius: 50%

.input
  padding: 0.5rem 1rem
  width: 100%
  background-color: rgba(0,0,0,0.2)
  border-radius: 25px !important
  border: 0 solid transparent !important

  &:hover
    background-color: rgba(0,0,0,0.4)
    cursor: pointer

  &:focus
    outline: none

hr
  border: 2px

.close
  border: 0 solid transparent
  background-color: rgba(0,0,0,0.2)
  width: 50px
  height: 50px
  border-radius: 50%
  padding: 5px
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  transition: all 1s ease

  &:hover
    background-color: rgba(0,0,0,0.4)

  fa-icon
    color: white
    width: 40px !important
    height: 40px !important

.btn-photo
  width: 100%
  background-color: transparent
  border-radius: 5px
  padding: 0.5rem 0
  border: 0 solid transparent
  font-weight: bold
  color: $primary-color
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  transition: all 1s ease

  &:hover
    background-color: rgba(0,0,0,0.2)

.btn
  width: 100% !important
  background-color: $primary-color !important
  color: white
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  transition: all 1s ease

  &:hover
    background-color: $primary-color-hover !important

.text-modal-title
  text-align: center !important
  align-content: center !important
  align-items: center !important

ngx-dropzone
  background-color: rgba(0,0,0,0.2) !important
  border: 0 solid transparent !important
  min-height: 200px
  width: 100%
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

  &:hover
    background-color: rgba(0,0,0,0.3) !important

.input-post
  background-color: transparent !important
  color: #2d3a47
  border: 0 solid transparent
  width: 100%

textarea
  overflow: hidden
  width: 100%
  display: block
  border: 0 solid transparent
  resize: none

  &:focus
    outline: none !important


