@import "src/assets/sass/variables"

.btn-photo
  width: 100%
  background-color: transparent
  border-radius: 5px
  padding: 0.5rem 0
  border: 0 solid transparent
  font-weight: bold
  color: $primary-color
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  transition: all 1s ease

  &:hover
    background-color: rgba(0,0,0,0.2)

.text-primary
  color: $primary-color !important

hr
  border: 2px
