<div class="row d-flex justify-content-between">
  <div class="col-9" *ngIf="likesLength > 0">
    <p *ngIf="likesLength > 0">
      <fa-icon class="text-primary" [icon]="faUp"></fa-icon>
      <span *ngIf="user">
        <span *ngIf="userName == user.name && like.active">Tú</span>
      <span *ngIf="userName != user.name && like.active">Tú</span>
      <span *ngIf="userName != user.name">{{ userName }}</span>
      </span>
      <span *ngIf="likesLength > 0 && !user">
        {{ userName }}
      </span>
      <span *ngIf="likesLength > 2 && !like.active">
        y {{ likesLength - 1 }} {{ likesLength == 2 ? 'persona':'personas'}} más
      </span>
      <span *ngIf="likesLength > 2 && like.active">
        y {{ likesLength - 2 }} {{ likesLength == 3 ? 'persona':'personas'}} más
      </span>
    </p>
  </div>
  <div class="col-3" *ngIf="commentsLength > 0" [class.offset-9]="likesLength == 0">
    <p class="float-end">{{ commentsLength }} {{commentsLength > 1 ? 'comentarios': 'comentario'}}</p>
  </div>
</div>
<div class="row d-flex justify-content-center" *ngIf="storage.getUser()">
  <div class="col-4">
    <button type="button" class="btn-photo" (click)="postLike(post._id)">
      <fa-icon [class.text-success]="!like.active" [class.text-primary]="like.active" [icon]="like.active ? faUp : faThumbsUp"></fa-icon>
      Me gusta
    </button>
  </div>
  <div class="col-4">
    <button type="button" class="btn-photo" (click)="focusInput()">
      <fa-icon class="text-success" [icon]="faComment"></fa-icon>
      Comentar
    </button>
  </div>
  <div class="col-4">
    <button type="button" class="btn-photo">
      <fa-icon class="text-success" [icon]="faShareAlt"></fa-icon>
      Compartir
    </button>
  </div>
</div>
<hr *ngIf="likesLength > 0 || commentsLength > 0">
<app-comments [post]="post" (commentsEvent)="commentsCount($event)"></app-comments>
