.avatar-comment
  display: inline-flex
  width: 25px
  height: 25px
  border-radius: 50%
  float: right !important

.input
  padding: 0.5rem 1rem
  width: 100%
  background-color: rgba(0,0,0,0.2)
  border-radius: 25px !important
  border: 0 solid transparent !important

  &:hover
    background-color: rgba(0,0,0,0.4)
    cursor: pointer

  &:focus
    outline: none

.av
  display: flex
  justify-content: right !important
  align-items: end
