<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.9)"
  size = "large"
  color = "#fff"
  type = "square-jelly-box"
  [fullScreen] = "true">
  <p style="color: white" > Cargando... </p>
</ngx-spinner>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<app-navbar></app-navbar>
<div class="container-fluid container-principal">
  <div class="col-12">
    <div class="row">
      <div class="col-2 col-xxl-3 d-none d-xl-block">
        <app-side-bar-left></app-side-bar-left>
      </div>
      <div class="col-12 col-lg-10 col-xl-8 col-xxl-6" >
        <div class="row">
          <div class="col-12">
            <div class="container-fluid">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-xxl-3 d-none d-lg-block">
        <app-side-bar-right></app-side-bar-right>
      </div>
    </div>
  </div>
</div>
