<div class="container-fluid" infiniteScroll [infiniteScrollDistance]="1"  (scrolled)="onScroll()">
  <app-new-pet (publishPost)="publishPost($event)"></app-new-pet>
  <app-pets [pets]="pets"></app-pets>
</div>
