<div class="main">

  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Registra a tu Mascota</h2>
          <form (ngSubmit)="registerPet(form)" #form="ngForm">
            <span>Nombre Mascota</span>
            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="name" id="name" placeholder="Nombre" ngModel/>
            </div>
            <span>Especie</span>
            <div class="form-group">
              <label for="species"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <select name="species" id="species" ngModel>
                <option value="dog">Perro</option>
                <option value="cat">Gato</option>
                <option value="bird">Ave</option>
                <option value="rodent">Roedor</option>
                <option value="snake">Serpiente</option>
                <option value="other">Otro</option>
              </select>
            </div>
            <span>Situación</span>
            <div class="form-group">
              <label for="status"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <select name="status" id="status" ngModel>
                <option value="rescued">Rescatado</option>
                <option value="at home">En Casa</option>
                <option value="for adoption">En Adopción</option>
                <option value="seen">Visto</option>
                <option value="temporary home">Hogar Temporal</option>
                <option value="lost">Perdido</option>
                <option value="stolen">Robado</option>
              </select>
            </div>
            <span>Detalles de la Situación</span>
            <div class="form-group">
              <label for="statusDetails"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <textarea name="name" rows="5" id="statusDetails" placeholder="Detalles del la Situación" ngModel></textarea>
            </div>
            <span>Sexo</span>
            <div class="form-group">
              <label for="gender"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <select name="gender" id="gender" class="input mt-2" ngModel>
                <option value="male">Macho</option>
                <option value="hembra">Hembra</option>
              </select>
            </div>
            <span>Codigo de Tatuaje</span>
            <div class="form-group">
              <label for="tattooCode"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="tattooCode" id="tattooCode" placeholder="Codigo de Tatuaje" ngModel/>
            </div>
            <span>Largo Pelaje</span>
            <div class="form-group">
              <label for="coatLength"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="coatLength" id="coatLength" placeholder="Largo Pelaje" ngModel/>
            </div>
            <span>Color Primario</span>
            <div class="form-group">
              <label for="primaryColor"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="primaryColor" id="primaryColor" placeholder="Color Primario" ngModel/>
            </div>
            <span>Color Secundario</span>
            <div class="form-group">
              <label for="secondaryColor"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="secondaryColor" id="secondaryColor" placeholder="Color Secundario" ngModel/>
            </div>
            <span>Color Tersario</span>
            <div class="form-group">
              <label for="tertaryColor"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="tertaryColor" id="tertaryColor" placeholder="Color Tersario" ngModel/>
            </div>
            <span>Edad</span>
            <div class="form-group">
              <label for="age"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="number" min="1" name="age" id="age" placeholder="Edad" ngModel/>
            </div>
            <span>Tamaño</span>
            <div class="form-group">
              <label for="size"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="size" id="size" placeholder="Tamaño" ngModel/>
            </div>
            <span>Peso</span>
            <div class="form-group">
              <label for="weight"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="number" min="1" name="weight" id="weight" placeholder="Peso" ngModel/>
            </div>
            <div class="form-group">
              <input type="checkbox" name="sterilized" id="sterilized" class="agree-term" />
              <label for="sterilized" class="label-agree-term"><span><span></span></span>Esterilizado</label>
            </div>
            <span>Marca del Microchip</span>
            <div class="form-group">
              <label for="microchipMark"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="microchipMarkname" id="microchipMark" placeholder="Nombre" ngModel/>
            </div>
            <span>ID Microchip</span>
            <div class="form-group">
              <label for="microchipID"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="microchipMark" id="microchipID" placeholder="Nombre" ngModel/>
            </div>
            <span>Fecha de implante</span>
            <div class="form-group">
              <label for="implantDate"><fa-icon></fa-icon></label>
              <input type="date" name="implantDate" id="implantDate" placeholder="Fecha de Implante" onkeydown="return false" ngModel/>
            </div>
            <div class="form-group form-button">
              <button type="submit" id="signup" class="form-submit" >Registra a tu Mascota</button>
            </div>
          </form>
        </div>
<!--        <div class="signup-image">-->
<!--          <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>-->
<!--        </div>-->
      </div>
    </div>
  </section>
</div>
