<header>
  <a class="target-burger" (click)="toogle()" [ngClass]="{'toggled': open}">
    <ul class="buns">
      <li class="bun"></li>
      <li class="bun"></li>
    </ul>
    <!--buns-->
  </a>
  <!--target-burger-->
  <a routerLink="/" class="logo">
    <img src="assets/images/logo.png" alt="Logo">
  </a>
</header>
<nav class="main-nav" role="navigation" [ngClass]="{'toggled': open}">
  <ul class="list">
    <li class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="logo">
      </a>
      <form class="d-flex">
        <input class="me-2" type="search" placeholder="Buscar" aria-label="Search">
      </form>
    </li>
    <li>
      <ul class="central">
        <li>
          <a routerLink="/" routerLinkActive="active"><fa-icon [icon]="faHome"></fa-icon><span>Inicio</span></a>
        </li>
        <li *ngIf="component.getIsLoggedIn()">
          <a [routerLink]="['/user', user.slug]" routerLinkActive="active"><fa-icon [icon]="faUser"></fa-icon><span>Tus Publicaciónes {{user.slug}}</span></a>
        </li>
        <li *ngIf="!component.getIsLoggedIn()">
          <a [routerLink]="['/sign/register']" routerLinkActive="active"><fa-icon [icon]="faUser"></fa-icon><span>Registrate</span></a>
        </li>
        <li *ngIf="component.getIsLoggedIn()">
          <a routerLink="/grupos" routerLinkActive="active"><fa-icon [icon]="faUsers"></fa-icon><span>Billing Information</span></a>
        </li>
      </ul>
    </li>
    <li  *ngIf="component.getIsLoggedIn()">
      <ul>
        <li>
          <a routerLink="/profile" routerLinkActive="active">
            <img [src]="'assets/images/avatars/' + user.avatar" class="avatar" alt="avatar">
            {{ user.name }}
          </a>
        </li>
        <li>
          <a routerLink="/configuracion" routerLinkActive="active"><fa-icon [icon]="faCog"></fa-icon><span>Configuración</span></a>
        </li>
        <li>
          <a (click)="sigout()" class="cursor"><fa-icon [icon]="faSignOutAlt"></fa-icon><span>Salir</span></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!--main-nav-->
