@import "src/assets/sass/variables"

.main-nav
  position: absolute
  background-color: #2d3a47
  left: 0
  top: 0
  z-index: 1
  height: 100%
  width: 100%
  padding: 1em
  -webkit-opacity: 0
  -moz-opacity: 0
  opacity: 0
  -webkit-transform: scale(0.85)
  -ms-transform: scale(0.85)
  transform: scale(0.85)
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

  &.toggled
    display: block
    z-index: 10
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
    -webkit-opacity: 1
    -moz-opacity: 1
    opacity: 1
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

  ul.list
    padding: 1em 0 0 0

    .logo
      display: none

    li
      border-bottom: 1px solid rgba(255, 255, 255, 0.15)
      list-style: none


      a
        font-size: 1.250em
        color: #fff
        padding: 1em 0
        font-weight: 300
        display: block
        text-decoration: none
        -webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        transition: all 0.5s ease

        fa-icon
          display: none
          -webkit-transition: all 0.5s ease
          -moz-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease

        .avatar
          display: none
          -webkit-transition: all 0.5s ease
          -moz-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease

        &:last-child
          border: none

        &:hover
          -webkit-opacity: 0.45
          -moz-opacity: 0.45
          opacity: 0.45
          -webkit-transition: all 0.5s ease
          -moz-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease
          //padding: 1em

header
  position: absolute
  width: 100%
  background-color: #2d3a47
  height: 50px
  top: 0
  z-index: 15

  a.logo
    right: 70px
    top: 10px
    margin: 0.125em
    width: 3.250em
    height: 3.250em
    position: absolute
    display: block


  a.target-burger
    margin: 0.125em
    width: 3.250em
    height: 3.250em
    position: absolute
    display: block
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

    &:hover
      cursor: pointer
      //-webkit-opacity: 0.45
      //-moz-opacity: 0.45
      //opacity: 0.45

    &.toggled ul.buns li.bun
      -webkit-transform: rotate(45deg) translateZ(0)
      transform: rotate(45deg) translateZ(0)

      &:last-child
        -webkit-transform: rotate(-45deg) translateZ(0)
        transform: rotate(-45deg) translateZ(0)

    ul.buns
      width: 1.625em
      height: 1.625em
      list-style: none
      margin: -0.8125em 0 0 -0.8125em
      padding: 0
      position: absolute
      top: 50%
      left: 50%
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1)
      transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1)
      -webkit-transform: translateZ(0)
      transform: translateZ(0)
      color: #fff

      li.bun
        width: 100%
        height: 2px
        background-color: #fff
        position: absolute
        top: 50%
        margin-top: -0.75px
        -webkit-transform: translateY(-3.75px) translateZ(0)
        transform: translateY(-3.75px) translateZ(0)
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1)
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1)

        &:last-child
          -webkit-transform: translateY(3.75px) translateZ(0)
          transform: translateY(3.75px) translateZ(0)

.active
  color: $primary-color-hover !important

@media (min-width: $lg)
  header
    display: none

  .main-nav
    position: -webkit-sticky
    position: sticky
    height: 70px
    width: 100%
    padding: 0
    -webkit-opacity: 1
    -moz-opacity: 1
    opacity: 1
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)

    ul.list
      padding: 0
      width: 100%
      display: flex
      justify-content: space-between

      .logo
        display: inline-flex

        input
          height: 40px
          margin-top: 15px
          border-radius: 20px
          padding-left: 10px

          &:focus
            outline: none

      li
        list-style: none
        display: inline-flex
        border-bottom: 0
        padding: 0 0.5rem


        //&:last-child
        //  margin-top: -10px

        .central
          display: flex
          width: 100%
          justify-content: center !important

          li
            display: flex
            justify-content: left

            //&:last-child
            //  margin-top: 0 !important

        ul
          margin: 0 auto !important
          li
            display: inline-flex

            a
              text-decoration: none

              .avatar
                display: inline-flex
                width: 25px
                height: 25px
                margin-top: -3px
                border-radius: 50%

              fa-icon
                display: inline-flex

              span
                display: none

          fa-icon
            display: inline-flex

          span
            display: none
