<div class="main">

  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <p *ngIf="alert.active">
            <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
          </p>
          <h2 class="form-title">Registrate</h2>
          <form (ngSubmit)="submit(form)" #form="ngForm">
            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="name" id="name" placeholder="Nombre" ngModel/>
            </div>
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-email"></i></label>
              <input type="email" name="email" id="email" placeholder="Correo" ngModel/>
            </div>
            <div class="form-group">
              <label for="pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password" id="pass" placeholder="Contraseña" ngModel/>
            </div>
            <div class="form-group">
              <label for="passwordRepeat"><i class="zmdi zmdi-lock-outline"></i></label>
              <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repite la contraseña" ngModel/>
            </div>
<!--            <div class="form-group">-->
<!--              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />-->
<!--              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>-->
<!--            </div>-->
            <div class="form-group form-button">
              <button type="submit" id="signup" class="form-submit" >Registrate</button>
            </div>
          </form>
        </div>
        <div class="signup-image">
          <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
          <a routerLink="/sign" class="signup-image-link">Ya soy Miembro</a>
        </div>
      </div>
    </div>
  </section>
</div>
