<div class="container-fluid">
  <div class="row" *ngFor="let comment of comments">
    <div class="row d-flex align-items-center">
      <div class="col-1 av">
        <img [src]="'assets/images/avatars/' + comment.user.avatar" class="avatar-comment" alt="avatar">
      </div>
      <div class="col-11">
        <p>{{ comment.message }}</p>
      </div>
  </div>
</div>
<div class="row p-2" *ngIf="storage.getUser()">
  <div class="col-12">
    <div class="row d-flex align-items-center">
      <div class="col-1 av">
        <img [src]="'assets/images/avatars/' + post.user.avatar" class="avatar-comment" alt="avatar">
      </div>
      <div class="col-11">
        <input type="text" class="input" placeholder="Escribe un comentario" #commentInput [(ngModel)]="comment" (keyup.enter)="createCommentPhoto()">
      </div>
    </div>
  </div>
</div>
